<nav class="navbar navbar-expand-lg d-md-flex justify-content-center">
  <div
    class="container-fluid col-lg-3 col-md-12 d-md-flex justify-content-center"
  >
    <a class="navbar-brand m-0" href="../../index.html">
      <img
        src="../../resources/styles/pics/logoCircle.png"
        alt="logo"
        width="230"
        height="210"
        class="img d-inline-block align-text-top rounded-circle"
      />
    </a>
  </div>
  <button
    class="navbar-dark navbar-toggler m-auto"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav col-lg-9 col-md-12 m-auto justify-content-end">
      <li class="nav-item p-lg-3">
        <!-- class="nav-link active text-black" -->
        <a class="nav-link text-muted" href="../../index.html" id="headerHome">Home</a>
      </li>
      <li class="nav-item p-lg-3">
        <a class="nav-link text-muted" href="./shop.html" id="headerShop">Shop</a>
      </li>
      <li class="nav-item p-lg-3">
        <a class="nav-link text-muted" href="./checkout.html" id="headerCheckout">Checkout</a>
      </li>
      <li class="nav-item p-lg-3">
        <a class="nav-link text-muted" href="./products.html" id="headerProducts">Products</a>
      </li>
      <li class="nav-item p-lg-3">
        <a class="nav-link text-muted" href="./about.html" id="headerAboutUs">About Us</a>
      </li>
      <li class="nav-item p-lg-3">
        <a class="nav-link text-muted" href="./contact.html" id="headerContactUs">Contact Us</a
        >
      </li>
    </ul>
  </div>
</nav>
